/* Importación de fuentes y estilos externos */
@import url("./fonts.css");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://bootswatch.com/5/sketchy/bootstrap.min.css");


/* Estilos para el cuerpo de la página */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(90,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA8D'/%3E%3Cstop offset='1' stop-color='%23FF80FD'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(95,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23A36EFF'/%3E%3Cstop offset='1' stop-color='%2373FF60'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-9.1 -2.4000000000000004) rotate(-2.7 1409 581) scale(0.9779519999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-22 10) rotate(-1 800 450) scale(0.9969959999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-3.8 6) rotate(-14 401 736) scale(0.9969959999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(60 4) rotate(-1 150 345) scale(1.005984)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(4 -29) rotate(-21.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-15.2 0.7999999999999998) rotate(-3.5999999999999996 1400 132) scale(0.96)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}



/* Estilos para la imagen del encabezado */
.imag-encabezado {
  width: 350px;
  height: 300px;
  margin-left: 40%;
}

/* Estilos para encabezados h1 y h2 */
h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.h1-enc {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
  color: #2F2A41;
}

h2 {
  text-align: left;
  color: #8152b8;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-left: 40px;
}

/* Estilos para párrafos y etiquetas */
p {
  font-size: 20px;
  color: #333;
  padding-left: 40px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

ol {
  font-size: 25px;
  color: #333;
  padding-left: 50px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}



/* Estilos para contenedor de YouTube */
.yt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: auto;
  margin: 0 auto;
}

/* Estilos para botones */
button {
  padding: 10px 20px;
  margin: 20px;
  background-color: #965fd4;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 95%;
}

button:hover {
  background-color: #8152b8;
  opacity: 100%;
  animation: scale 1s;
}

.button-activities {
  background-color: #8BD450; 
  margin: 20px;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 95%;
  padding-top: 0%;
}

.button-flechas {
  background-color: #8152b8;
  margin: 20px;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 95%;
  display: inline;
  margin: 0 80px;
}

.button-encuesta {
  background-color: palevioletred;
  margin: 20px;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 95%;
  display: inline;
  margin: 0 80px;
}

/* Estilos para mensajes de error */
.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  display: none;
  animation: bounce 1s;
}

/* Estilos para la barra de navegación */
.navbar {
  color: white;
  padding: 7px;
  opacity: 90%;
  border-radius: 5%;
  margin-bottom: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbar ul:hover {
  animation: scale 2s;
}

.navbar li {
  margin: 15px;
  margin-bottom: -10px;
  margin-top: 0px;
}

.navbar a, .navbar img {
  color: #8BD450;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover, .navbar img:hover {
  border-bottom: 2px solid white;
  color: white;
}

/* Estilos para clases personalizadas */
.transparency {
  opacity: 0.9;
  animation: bounce 2s infinite;
}

.contenedorCentradoTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedorBotonAct {
  text-align: center;
}

.navegacion {
  text-align: center;
  margin: 50px;
}

.contenedorFormulario {
  background-color: #CFF5B2;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Estilos para la barra de menú */
.menu {
  background-color: #333;
  overflow: hidden;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  width: 20%;
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  width: 100%;
}

.menu li a:hover {
  background-color: #444;
}

.menu-destacado {
  background-color: #8152b8;
  color: #333;
  font-weight: bold;
}

/* Modal */
#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

dialog {
  border-radius: 15px;
  background: lavender;
  max-width: 80ch;
}

label {
  text-align: center;
  font-size: 20px;
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.h2-modal {
  color: #8152b8;
  font-size: 35px;
  font-weight: bold;
}

/*Animaciones*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Definir las posiciones en la animación */
  }
  40% {
    transform: translateY(-30px); /* Definir las posiciones en la animación */
  }
  60% {
    transform: translateY(-15px); /* Definir las posiciones en la animación */
  }
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes scale {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes showSlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos para el carrusel de preguntas */
.carousel {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.question {
  display: none;
}

/* Opciones usando listas */
.question ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  /* Agrega estas líneas para dividir en dos columnas */
  max-width: 400px; /* Ajusta el ancho según tu preferencia */
  margin: 0 auto;
}

.question li {
  box-sizing: border-box;
  text-align: center;
  margin: 5px 1%;
  width: 45%; /* Establece el ancho de cada elemento li */
}

.question li:hover {
  color: #2F2A41;
  font-weight: bold;
  animation: scale 1s;
}

.question li input {
  vertical-align: middle;
  margin-right: 10px;
}

/* Opciones usando selectores */
.seleccionarRespuesta {
  display: block; /* Hacer que el select sea un bloque */
  margin: 0 auto; /* Centrar el select horizontalmente */
  margin-top: 10px; /* Ajustar el espacio superior */
  margin-bottom: 10px; /* Ajustar el espacio superior */
  width: 30%;
  background-color: rgba(106,217,84, 25%);
  color: black;
  text-align: center;
}

.mensajeError {
  display: block; /* Hacer que el select sea un bloque */
  margin: 0 auto; /* Centrar el select horizontalmente */
  color: red;
  opacity: 70%;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Valor de la sombra: desplazamiento en x, desplazamiento en y, desenfoque, y color */
}

.mensajeFinalizado {
  display: block; /* Hacer que el select sea un bloque */
  margin: 0 auto; /* Centrar el select horizontalmente */
  color: green;
  opacity: 70%;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Valor de la sombra: desplazamiento en x, desplazamiento en y, desenfoque, y color */
}
.question p {
  text-align: justify;
  margin-left: -25px;
  margin-bottom: 20px;
}

.question-container {
  border: 2px solid #2f2a41;
  background-color: rgba(176, 111, 220, 15%);
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
  width: 65%;
  margin: 0 auto;
  animation: showSlow 1s;
}

.question-container label {
  display: contents;
  text-align: left;
  margin-bottom: 5px;
}

.botonesCarrousel {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar los botones horizontalmente */
}

.botonesCarrousel button {
  margin: 0 10px;
}

#btn-submit {
  display: block;
  margin: 20px auto;
  background-color: #8BD450;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  width: 150px;
}

.codeContainer {
  max-width: 600px; /* Cambia el ancho máximo según sea necesario */
  overflow-x: auto;
  background-color: rgb(47,42,65);
  border-radius: 5px;
  margin: 0 auto; /* Alineación horizontal al centro */
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar los botones horizontalmente */
/*   white-space: pre-wrap;
  word-wrap: break-word; */
}

pre {
  margin: 0;
  height: auto;
}

code {
  color: rgb(106,217,84);
  margin: 0 auto; /* Alineación horizontal al centro */
  display: flex;
  justify-content: center;
  height: auto;
}

.userDataDisplay {
  position: absolute;
  top: 65px; /* Ajusta la distancia desde la parte superior según tus preferencias */
  right: 10px; /* Ajusta la distancia desde la derecha según tus preferencias */
  background-color: rgba(106,217,84,0.5);
  padding: 5px;
  border: 2px solid rgb(47,42,65);
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  opacity: 0%;
}

.userDataDisplay span {
  display: block;
  margin-bottom: 5px;
  color: #8152b8;
}

.adminButton {
  position: absolute;
  top: 65px; /* Ajusta la distancia desde la parte superior según tus preferencias */
  left: 10px; /* Ajusta la distancia desde la derecha según tus preferencias */
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px;
  border: 2px dashed rgb(47,42,65);
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  opacity: 30%;
  font-size: smaller; 
}


.contenedorImagen {
  display: block; 
  margin: auto; 
  /*border: 2px solid black;*/
  margin-bottom: 20px;
}

.navigateButtons {
  text-align: center;
}

.navigateButtons button {
  color: black;
  background-color: #8BD450;
  padding: 10px 20px;
  margin: 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 95%;
}

.navigateButtons button:hover {
  color: black;
  background-color: #6ba73a;
  padding: 10px 20px;
  margin: 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  opacity: 95%;
}

.menuInferior1 {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  width: 100%;
}

.menuInferior1 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menuInferior1 li {
  text-align: center; /* Centra el contenido horizontalmente */
  height: 75px;
}

.menuInferior2 {
  background-color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos dentro de .menuInferior */
}

.menuInferior2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menuInferior2 li {
  text-align: center;
  height: 75px;
}


/*Clase admin*/
.tablaAdmin {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

/* Estilos para las celdas de encabezado (th) */
.tablaAdmin th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Estilos para las celdas de datos (td) */
.tablaAdmin td {
    border: 1px solid #ccc;
    padding: 8px;
}