<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/images/logo.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Polimorfismo</title>
</head>
<body>
  <div class="body">
    <div class="menu">
      <ul>
        <li><a href="/views/home.html">Inicio</a></li>
        <li><a href="/views/encapsulamiento/encapsulamiento.html">Encapsulamiento</a></li>
        <li><a href="/views/herencia/herencia.html">Herencia</a></li>
        <li class="menu-destacado"><a href="/views/polimorfismo/polimorfismo.html">Polimorfismo</a></li>
        <li><a href="#" onclick="cerrarSesion()">Cerrar Sesión</a></li>
      </ul>
    </div>

    <div id="dataShow"> <!-- Aquí se aloja un campo de depuración --> </div>

    <img class="contenedorImagen" src="/assets/images/Polimorfismo.png" style="max-width: 75%; height: auto; animation: showSlow 1s ; border: 0cap;">

    <h2 style="font-size: 35px;"><b>¿Qué es?</b></h2>
    <p class="p" style="font-size: 25px;">Es la capacidad que tienen los objetos de una clase de responder al mismo mensaje o evento en función de los parámetros utilizados durante su invocación. Un objeto polimórfico es una entidad que puede contener valores de diferentes tipos durante la ejecución del programa. Hay dos principales tipos de polimorfismo:</p>
    <ol>
      <li><b>Polimorfismo Estático</b> o "ad hoc", se refiere a la capacidad de una clase para tener múltiples métodos con el mismo nombre, pero diferentes parámetros. El compilador decide qué método llamar en función de los argumentos proporcionados. Los tipos a los que se aplica el polimorfismo deben ser explicitados y declarados uno por uno antes de poder ser utilizados. Ejemplos comunes de esto son las sobrecargas de métodos y operadores.</li>
      <img class="contenedorImagen" src="/assets/images/Polimorfismo-static.png" style="max-width: 50%; height: auto; animation: showSlow 1s ; border: 0cap;">
      
      </li>
      <li><b>Polimorfismo Dinámico</b>, o polimorfismo paramétrico, es aquel en el que el código no incluye ningún tipo de especificación sobre el tipo de datos sobre el que se trabaja. Así, puede ser utilizado a todo tipo de datos compatible. Se basa en la herencia y la capacidad de una subclase para proporcionar una implementación específica de un método heredado de su super clase. Este tipo de polimorfismo es una característica fundamental de la programación orientada a objetos.</li>
      <img class="contenedorImagen" src="/assets/images/Polimorfismo-dinamico.jpg" style="max-width: 50%; height: auto; animation: showSlow 1s ; border: 0cap;"> 
      </li>
    </ol>

    <div class="yt-container">
      <iframe width="854" height="480" src="https://www.youtube.com/embed/I2MYuinS6zE?si=KoVrv52800ndLK2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <span style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <strong style="font-size: 1.5em;">Después de ver el video, contesta las siguientes actividades.</strong>
    </span>
  
  <div class="contenedorBotonAct">
    <button class="button-activities" type="button" onclick="window.location.href='./actividadesPolimorfismo/actividad1/actividad.html'">Actividad I</button>
    <button class="button-activities" type="button" onclick="window.location.href='./actividadesPolimorfismo/actividad2/actividad.html'">Actividad II</button>
    <br>
    <button class="button-activities" style="color:whitesmoke; background-color: #fd2477;" type="button" onclick="window.location.href='./actividadesPolimorfismo/actividad3/actividad.html'">Evaluación</button>
  </div>

  <div id="endFooter"><!-- Aquí se genera el footer proveniente del script getUserData --></div>
  <script src="/js/getUserData.js"></script>
  <script src="/js/bannerFooter.js"></script>
</body>
</html>