<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>MAD Learning: Administración</title>
</head>
<body>
    <div class="menu">
        <ul>
          <li style="width: 50%" class="menu-destacado"><a href="#">Administración</a></li>
          <li style="width: 50%"><a href="#" onclick="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
    </div>
    <h1 style="font-size: 4em; margin-top: 0px; animation: showSlow 2s;">Administración</h1>
    <span id="nombreUsuario"></span>
    <script src="js/cerrarSesion.js"></script>
    <!-- <script src="js/tipoCuentaAdmin.js"></script> -->
</body>
</html>