<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>MAD Learning: Administración</title>
</head>
<body>
    <div class="menu">
        <ul>
          <li style="width: 50%" class="menu-destacado"><a href="#">Docencia</a></li>
          <li style="width: 50%"><a href="#" onclick="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
    </div>
    <h1 id="nombreDocente" style="font-size: 4em; margin-top: 0px; animation: showSlow 2s;">Docente: </h1>
    <!-- Panel de adminstrador -->
    <div class="adminPanel">
        <span>Esto es temporal, solo lo puse por poner xd</span>
        <button class="adminButton" onclick="resetEncapsulamiento()">Resetear Encapsulamiento</button>
        <button class="adminButton" style="position: relative; top: -240px;" onclick="resetHerencia()">Resetear Herencia</button>
        <button class="adminButton" style="position: relative; top: -240px;" onclick="resetPolimorfismo()">Resetear Polimorfismo</button>
    </div>
    <footer style="margin-top: 25px;">
        <img width="100px" src="/assets/images/logo.png" />
        <img width="200px" src="/assets/images/contacto.png" />
    </footer>
      <!-- Panel de adminstrador -->
    <script src="js/tipoCuentaDocente.js"></script>
</body>
</html>