<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Bienvenid@ </title>
    <title id="nombreUsuario">!</title>
</head>
<body>    
 <div class="body">
<body>    
 <div class="body">
    <div class="menu">
        <ul>
            <li><a href="#" class="menu-destacado">Inicio</a></li>
            <li></li>
            <li><a href="../encapsulamiento.html">Encapsulamiento</a></li>
            <li></li>
            <li><a href="../herencia.html">Herencia</a></li>
            <li></li>
            <li><a href="../polimorfismo.html">Polimorfismo</a></li>
            <li></li>
            <li><a href="#" onclick="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
    </div>

    <div>
        <img class="imag-encabezado" src="/assets/images/Bienvenido.png" alt="Imagen de Bienvenida">
    </div>
    <h2><b>¿Qué es MAD Learning?</b></h2>
    <p class="p">Somos un sitio dirigido a estudiantes, aquí podrán encontrar apoyo didáctico para reforzar sus conocimientos
        sobre temas específicos de la <b>Programación Orientada a Objetos</b>.
        Nuestra misión es brindarte una experiencia de aprendizaje fácil, pero efectiva sobre temas clave como el <b>Encapsulamiento</b>, 
        la <b>Herencia</b> y el <b>Polimorfismo</b>. <br>
        Aquí, encontrarás teoría respaldada por ejemplos y ejercicios que te ayudarán a comprender de mejor manera dichos temas.
        Únete a nuestra comunidad de aprendices apasionados y lleva tu conocimiento al siguiente nivel con Mad Learning.
    </p>
     <div style="text-align: center;">
    <!-- <img src="/assets/images/monachina.png" alt="Imagen de monachina">-->
    <video width="640" height="360" controls>
        <source src="/assets/videos/introduccion.mp4" type="video/mp4">
        Tu navegador no admite el elemento de video.
    </video>
    </div>
    <h2><b>OBJETIVOS</b></h2>
    <ol>
        <li>Facilitar el Aprendizaje: Nuestro principal objetivo es facilitar el aprendizaje de conceptos en programación, como herencia, encapsulamiento y polimorfismo, de manera efectiva y comprensible. Para que los alumnos aumenten su nivel educativo en este campo.</li>
        <li>Desarrollo de Habilidades: Queremos ayudar a nuestros usuarios a desarrollar habilidades prácticas en programación.</li>
        <li>Inspirar el Interés en la Programación: Buscamos inspirar y fomentar el interés en la programación, especialmente a aquellos que se les complica o no han explorado este campo.</li>
        <li>Crecimiento y Mejora Constante: Estamos comprometidos con el crecimiento constante y la mejora de nuestra plataforma en respuesta a las necesidades cambiantes de nuestros usuarios.</li>
    </ol>
    <h2><b>NUESTRO PÚBLICO</b></h2>
    <p class="p">Mad Learning se dirige a un público específico dentro de la comunidad académica de la Universidad Autónoma del Estado de México (UAEMEX). Nuestra plataforma educativa está diseñada para atender a estudiantes que estén cursando el tercer semestre en adelante y estén interesados en adquirir un conocimiento más profundo de programación orientada a objetos, con un enfoque en conceptos clave como herencia, encapsulamiento y polimorfismo.</p>
    <h2><b>VENTAJAS</b></h2>
    <ol style="padding-bottom: 40px;">
        <li>Enfoque Especializado: Mad Learning se distingue por su enfoque especializado en programación, centrándose en conceptos clave como herencia, encapsulamiento y polimorfismo. Nuestra plataforma está diseñada para aquellos que desean una comprensión de estos temas fundamentales en la programación.</li>
        <li>Contenido Integral: Ofrecemos una combinación equilibrada de teoría, ejemplos y ejercicios, lo que permite a los estudiantes abordar los conceptos desde múltiples ángulos y reforzar su aprendizaje de manera efectiva.</li>
        <li>Flexibilidad de Aprendizaje: Mad Learning se adapta a diversos estilos de aprendizaje. Los estudiantes pueden aprender a su propio ritmo, eligiendo cuándo y cómo estudiar, lo que les brinda la flexibilidad necesaria para ajustarse a sus horarios y preferencias personales.</li>
    </ol>

    <!-- Pie de Página -->
    <footer>
        <img width="100px" src="/assets/images/logo.png">
        <img width="200px" src="/assets/images/contacto.png">
    </footer>
  </div>
  <script src="../js/getUserData.js"></script>
</body>
</html>