<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Ingresar</title>
</head>
<body>    
 <div class="body">
    <div class="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li></li>
            <li><a href="../encapsulamiento.html">Encapsulamiento</a></li>
            <li></li>
            <li><a href="/views/herencia.html">Herencia</a></li>
            <li></li>
            <li><a href="../polimorfismo.html">Polimorfismo</a></li>
            <li></li>
            <li><a href="../index.html">Cerrar Sesión</a></li>
        </ul>
    </div>

    <h1><b>¡ B I E N V E N I D O !</b></h1>
    <h2><b>¿Qué es MAD Learning?</b></h2>
    <p class="p">Somos un sitio dirigido a estudiantes, en dónde podrán encontrar apoyo didáctico para reforzar sus conocimientos
        sobre temas específicos de la <b>Programación Orientada a Objetos</b>.
        Dentro de esta web encontrarás información para lectura, vídeos, ejemplos y ejercícios sobre el <b>Encapsulamiento</b>, 
        la <b>Herencia</b> y el <b>Polimorfismo</b>.
    </p>
<div style="text-align: center;">
    <img src="/assets/images/monachina.png" alt="Imagen de monachina">
</div>
    <h2><b>Instrucciones</b></h2>
    <p class="p">Sobre la barra de menú encontrarás el nombre de las 3 lecciones, al hacer click sobre ellas podrás acceder a la teoría y a la evaluación
        de la unidad correspondiente. Al final del curso se te presentará una breve encuesta para evaluar el sitio. </p>
    <script>
        // Función para mostrar la información del usuario 
        function mostrarInformacionUsuario() {
            const userDataCookie = getCookie("userData");

            if (userDataCookie) {
                const userDataJSON = decodeURIComponent(atob(userDataCookie));
                const userData = JSON.parse(userDataJSON);

                const userDataDisplay = document.getElementById("userDataDisplay");
                userDataDisplay.innerHTML = `
                    <p>ID: ${userData.id}</p>
                    <p>Usuario: ${userData.username}</p>
                    <p>Nombre: ${userData.nombre}</p>
                    <p>Apellido Paterno: ${userData.aPaterno}</p>
                    <p>Apellido Materno: ${userData.aMaterno}</p>
                    <p>Correo: ${userData.correo}</p>
                    <p>Tipo de usuario: ${userData.userType}</p>
                    <p>IP: ${userData.ip}</p>
                    <p>Fecha de Registro: ${userData.fechaRegistro}</p>
                `;
            } else {
                console.log("No se encontró la cookie de userData.");
            }
        }

        // Función para obtener el valor de una cookie por su nombre
        function getCookie(name) {
            const decodedCookie = decodeURIComponent(document.cookie);
            const cookies = decodedCookie.split(';');

            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i];
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length + 1, cookie.length);
                }
            }
            return "";
        }

        // Función para eliminar la cookie y redireccionar a index.html
        function cerrarSesion() {
            document.cookie = "userData=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "../index.html";
        }

        // Llama a la función para mostrar la información del usuario al cargar la página
        window.onload = mostrarInformacionUsuario;
    </script>
  </div>
</body>
</html>