<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/images/logo.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>MAD Learning: Encapsulamiento</title>
</head>
<body>
  <div class="body">
    <div class="menu">
      <ul>
        <li><a href="/views/home.html">Inicio</a></li>
        <li class="menu-destacado"><a href="/views/encapsulamiento/encapsulamiento.html">Encapsulamiento</a></li>
        <li><a href="/views/herencia/herencia.html">Herencia</a></li>
        <li><a href="/views/polimorfismo/polimorfismo.html">Polimorfismo</a></li>
        <li><a href="#" onclick="cerrarSesion()">Cerrar Sesión</a></li>
      </ul>
    </div>
    <img class="contenedorImagen" src="/assets/images/Encapsulamiento.png" style="max-width: 100%; height: auto; animation: showSlow 1s ; border: 0cap;">

    <div id="dataShow"> <!-- Aquí se aloja un campo de depuracion u:--> </div>

  
    <h2 style="font-size: 35px;"><b>¿Qué es?</b></h2> 
    <p class="p" style="font-size: 25px;">Ocultamiento del estado de los datos (atributos) de un objeto de manera que solo se pueda cambiar mediante las operaciones definidas para ese objeto (métodos). Cada objeto está aislado del exterior, este aislamiento protege a los datos (atributos) de un objeto contra su modificación por quien no tenga derecho a acceder a ellos.</p>

    <img style="border: 2px solid black;" class="contenedorImagen" src="/assets/images/Modificadores.png" style="max-width: 40%; height: auto; animation: showSlow 1s ; border: 0cap;">
  
    <h2 style="font-size: 35px;"><b>¿Cómo Encapsulamos?</b></h2>
    <ol>
      <li>Definir los atributos o métodos que vamos a encapsular (ocultar), o sea, poner privados</li>
      <li>Crear métodos accesores para poder leer o escribir él o los atributos que se encapsularon. Estos métodos son los Getters y Setters.</li>
    </ol>
  
    <div class="yt-container">
      <iframe width="854" height="480" src="https://www.youtube.com/embed/9jdZpBax1Uw?si=as45w93M_DIsm_8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <span style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <strong style="font-size: 1.5em;">Después del ver el video, contesta las siguientes actividades.</strong>
  </span>
  
  <div class="contenedorBotonAct">
    <button class="button-activities" type="button" onclick="window.location.href='./actividadesEncapsulamiento/actividad1/actividad.html'">Actividad I</button>
    <button class="button-activities" type="button" onclick="window.location.href='./actividadesEncapsulamiento/actividad2/actividad.html'">Actividad II</button>
    <br>
    <button class="button-activities" style="color:whitesmoke; background-color: #fd2477;" type="button" onclick="window.location.href='./actividadesEncapsulamiento/actividad3/actividad.html'">Evaluación</button>
  </div>

  <div id="endFooter"><!-- Aqui se genera el footer proveniente del script getUserData --></div>
  <script src="/js/getUserData.js"></script>
  <script src="/js/bannerFooter.js"></script>
</body>
</html>